.signup-form {
    .valid {
        svg {
            padding-left: .2rem;
            color: green;
        }
    }

    .invalid {
        svg {
            color: red;
            padding-left: .2rem;
            margin-top: .2rem;
        }
    }

    .hide {
        display: none;
    }

    .instructions {
        background-color: #2d210c;
        color: #fff;
        padding: .5em;
        border-radius: .3rem;
        letter-spacing: 1px;
        font-size: .8em;

        svg {
            margin-right: .3em;
        }
    }

    .offscreen {
        display: none;
    }
}