.hero-banner {
    padding: 0 2rem;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .failed,
    .load {
        color: #313bac;
    }

    .splide {
        height: 100%;
        width: 1080px;
        margin: 0 auto;
        padding-top: 1.5em;
        overflow: hidden;

        .custom-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            // background-color: #2d210c;
            // border: 1px solid rgba(255, 255, 255, 0.8);
            border-radius: 1em;
            overflow: hidden;

            .splide__slide {
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                height: 100%;

                .carousel-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: rgb(20, 20, 20);

                    .carousel-body {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        .carousel-header {
                            font-size: 3em;
                            color: #313bac;
                        }

                        .ai-stars {
                            display: flex;
                            gap: 2px;
                        }

                        .carousel-text {
                            width: 80%;
                        }
                    }
                }

                img {
                    width: 500px;
                    height: 430px;
                    -webkit-box-reflect:
                        below 0px linear-gradient(to bottom,
                            rgba(255, 255, 255, 0.0) rgba(255, 255, 255, 0.4));
                }
            }
        }
    }
}