.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;

    .categories {
        display: flex;
        list-style-type: none;
        align-items: center;
        justify-content: space-between;
        color: #313bac;
        font-size: 1.2em;
        font-weight: bolder;
        width: 100%;
        margin-bottom: 2rem;

        li {
            cursor: pointer;
        }
    }

    h1 {
        font-size: 3em;

        span {
            color: #313bac;
        }
    }

    .failed {
        margin-top: 7rem;
        color: #313bac;
    }
}