header {
    width: 100%;
    position: fixed;
    z-index: 2;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    --webkit-backdrop-filter: blur(4px);
}

nav {
    display: flex;
    align-items: center;
    list-style-type: none;

    max-width: 1080px;
    margin: 0 auto;
    padding: 1rem 0;
    font-weight: bolder;
    font-size: 1.2em;

    div {
        a {
            // color: #6b7688;
            color: #030303;

            &:hover {
                color: #313bac;
            }
        }
    }

    .landing-store {
        margin-left: auto;
    }

    .navbar-cart {
        margin-left: auto;

        a {
            padding: .3rem .5rem;

        }

        svg {
            padding-top: .2rem;
        }

        &:hover {
            background-color: #313bac;

            svg {
                color: #fff;
            }
        }
    }

    .navbar-btn {
        display: flex;
        align-items: center;
        border-radius: 50%;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2),
            -2px -2px 2px rgba(255, 255, 255, 0.7);
    }

    .nav-user {
        padding: .4rem .4rem;
    }

    ul {
        margin-left: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
        list-style-type: none;
        flex: 1;

        a {
            // color: #6b7688;
            color: #030303;

            &:hover {
                color: #313bac;
            }
        }
    }
}