header {
    width: 100%;
    padding: .8rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1080px;
        margin: 0 auto;

        .logo {
            .logo-link {
                text-decoration: none;
                color: #2d210c;
                font-weight: bolder;
                display: flex;
                align-items: center;
                padding-top: .2em;
                .pizza-svg {
                    width: 40px;
                    overflow: visible;
                    stroke: #2d210c;
                    stroke-width: 4;
                    stroke-linejoin: round;
                    stroke-linecap: round;
                }
            }
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 45px;

            li {
                list-style: none;
                text-transform: uppercase;
                position: relative;
                color: #2d210c;
                cursor: pointer;
                font-weight: bold;

                .profile {
                    text-decoration: none;
                    letter-spacing: 1px;
                    color: #2d210c;
                }

                .cart-logo{
                    color: black;
                    font-size: 35px;
                    margin-left: 90px;
                }
                .cart-number {
                    position: absolute;
                    top: -9px;
                    right: -5px;
                    background-color: rgb(201, 45, 45);
                    border-radius: 50%;
                    padding: .1rem .4rem;
                    font-size: 15px;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }
}