footer {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 1.5em 0;
    padding: 2rem 2rem 1rem 2rem;
    color: #2d210c;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    .footer-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 1.3rem;
    }

    .section3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.3em;
        margin-top: .5em;
        letter-spacing: 2px;
    }
}