@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf2f8;
}

#root {
  display: flex;
  flex-direction: column;
}

.create-product {
  background-color: #fff;
  width: fit-content;
  padding: .5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
}

.create-product input,
textarea {
  border: none;
  width: 100%;
  background-color: #e4e4e4;
  color: #313bac;
  padding: .3rem;
  margin-bottom: .5rem;
  border-radius: .3rem;
  outline: none;
}

.create-product form {
  margin-top: 1rem;
}

.create-product img {
  width: 650px;
  height: 320px;
}

button:hover {
  scale: 1.05;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.welcome-modal {
  max-width: 400px;
  background-color: #fff;
  margin: 7rem auto;
  border-radius: 10px;
  color: #313bac;
}

.banner-modal {
  max-width: 600px;
  background-color: #fff;
  margin: 7rem auto;
  padding: 1rem;
  border-radius: 10px;
  color: #030303;
}

.banner-modal form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}