.login-wrapper {
    width: 100%;
    height: 100%;
    color: #2d210c;

    .login-container {
        position: relative;
        background-color: rgba(255, 255, 255, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.7);
        max-width: 480px;
        margin: 10rem auto;
        padding: 3rem;
        border-radius: .5rem;

        .errmsg {
            color: red;
            padding: .5em;
            width: 100%;
        }

        h1 {
            letter-spacing: 1px;
            font-size: 2.5em;
        }

        form {
            margin-top: 1.5em;
            display: flex;
            flex-direction: column;

            label {
                // text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1px;
            }

            input {
                padding: .4em;
                border: none;
                background-color: #f0ce97;
                margin: .5em 0;
            }

            button {
                background-color: #2d210c;
                border: none;
                color: #fff;
                padding: 1em;
                margin: 1.5em 0;
                border-radius: .5em;
                cursor: pointer;
                text-transform: uppercase;

                &:active {
                    opacity: .8;
                }

                &:disabled {
                    opacity: .2;
                }
            }

        }

        .line-a {
            color: #2d210c;

        }
    }
}